/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl mb-5 font-bold;
}

button {
  @apply font-bold py-2 px-4 rounded;
}

textarea,
input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

textarea,
input:focus {
  @apply outline-none;
}

.btn-full {
  @apply mt-4 mb-3 w-full py-2 rounded-md transition duration-100;
}

.btn-green {
  @apply bg-green-500 text-white;
}

.btn-green:hover {
  @apply bg-green-400;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

a:hover {
  @apply bg-gray-600;
}

main {
  @apply mx-auto max-w-5xl p-5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loader {
  border-top-color: #000;
  -webkit-animation: spinner 0.8s linear infinite;
  animation: spinner 0.8s linear infinite;
}

.tab {
  @apply inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-gray-200 hover:border-gray-300 shadow-sm bg-white  text-gray-500 duration-150 ease-in-out;
}

.tab-active {
  @apply inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-transparent shadow-sm bg-gray-700 hover:bg-yellow-400 text-white hover:text-black duration-150 ease-in-out;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
